<h1> Pet Profile page</h1>
<br/>

<div>
        <h3>{{name}}</h3>
        <img src="{{__dirname}}/{{avatarUrl}}" style="width:50px;height:50px;border-radius:75%;"/>
        <p>{{age}} years old</p>
        <ul>
            {{#each ownersId}}
                <li>{{username}} is one of my owners</li>
            {{/each}}
        </ul>
</div>