<h1>Welcome back {{username}}!</h1>
<img src="{{__dirname}}/{{avatarUrl}}" style="width:100px; height:100px; border-radius:75%;"/>
<p>Your email is  {{email}}</p>
<br/>
<p>My pets are </p>

<div style="display:flex;justify-content:space-around;">
{{#each petsId}}

    <div>
        <h3><a href="/animals/{{_id}}">{{name}}</a></h3>
        <img src="{{__dirname}}/{{avatarUrl}}" style="width:50px;height:50px;border-radius:75%;"/>
        <p>{{age}} years old</p>
    </div>

    
{{/each}}
</div>


<h2>Animal form</h2>
<form action="/animals/create" method="post">
    <input type="text" name="name" placeholder="Enter your pet name">
    <input type="text" name="animalType" placeholder="Enter your pet type">
    <input type="number" name="age" placeholder="Enter your pet age">
    <input type="hidden" name="userId" value="{{_id}}">
    <button type="submit">Add animal</button>
</form>

<br/>

{{#unless address}}
<h2>Address form</h2>

<form action="/address/create" method="post">
    <input type="text" name="houseNumber" placeholder="Enter your house number">
    <input type="text" name="streetName" placeholder="Enter your street name">
    <input type="text" name="city" placeholder="Enter your city">
    <input type="text" name="zipCode" placeholder="Enter your zip code">
    <input type="hidden" name="userId" value="{{_id}}">
    <button type="submit">Add address</button>
</form>
{{/unless}}